
:root {

    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 600px;
}

.about_founders-contact-header
{
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: var(--white);

}
.about_founders {
    
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
    position: relative;
    flex-direction: column;
    gap: 50px;
    
    background: var(--black);
}

.about_founders-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .about_founders-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 960px) {
    .about_founders-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.about_founders-card-contact {
    list-style: none;
    position: relative;
}

.about_founders-card-contact:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.about_founders-card-background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.about_founders-card-contact:hover .about_founders-card-background {
    transform: scale(1.05) translateZ(0);
}

.about_founders-card-grid:hover>.card:not(:hover) .about_founders-card-background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.about_founders-card-content {
    right: 0;
    padding: var(--spacing-l);
    position: absolute;
    bottom: 0;
    text-align: right;
}

.about_founders-card-category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    font-family: var(--font-family);
}

.about_founders-card-heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    font-family: var(--font-family);
    font-weight: 400;
}

@media screen and (max-width: 2560px) and (min-width: 1445px) {
    .about_founders-contact-header
    {
        font-size: 2rem;
        margin-right: 6rem;
    }
    .about_founders-card-heading {
        font-size: 2.5rem;
    }

    .about_founders
    {
        flex-direction: row;
    }
    .about_founders-card-grid
    {
        max-width: 1000px;
    }
}