@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --gradient-text:linear-gradient(90deg, hsla(121, 100%, 50%, 1) 0%, hsla(0, 100%, 50%, 1) 100%);
  --font-family: 'Montserrat', sans-serif;
  
  --color-bg: #ddeedf;
  --color-light: #ddeedf;
  --color-main : rgb(54,94,4);
  --color-contrast: #388E3C;
  --color-dark:#172817;
  --color-footer:#6f8b74;

  --black:black;
  --white: rgb(214, 219, 215);

  --color-heading:var(--color-contrast);
  --color--text:#F49867;
  --color-bar:rgba(92, 93, 94, 0.306);
}